# Python environment
venv
.idea
.ipynb_checkpoints/
__pycache__

# Survey definition documents, included as a tarball
Roman_bounds/
followup/

# Ignore selected files which are too large for Github
config/*_regions*.json
tests/data/*regions*json
region_data/
region_data/*regions*json
trilegal_model_data/trilegal_nir_stellar_density_extinction_256.json

# Ignore temporary files
config/notes